ul
{
    list-style: none; 
    display: flex; 
    flex-direction: column;  
}
span
{
    color: rgb(40, 3, 143) 
}

mat-tab-group
{
    border: 2px solid rgb(40, 3, 143); 
    padding: 30px; 
    width: 600px; 
    display: flex; 
    justify-content: center; 
}

mat-tab
{
    display: flex; 
    justify-content: center; 
}
.greeting
{
    margin-top: 2%; 
    font-size: 35px; 
    text-align: center; 
}

.row
{
    display: flex; 
    justify-content: center; 
}

.buttons
{
    margin-top: 22px; 
}

#intro
{
    display: flex;
    width: 60%;  
    justify-content: center; 
}

#pal-container
{
    display: flex; 
    flex-direction: column;
    align-items: center; 
    justify-content: flex-end; 
    gap: 2em;    
    margin-top: 20px; 
    max-height: 500px; 
    overflow-y: scroll; 
}

#pal-message
{
    background: rgb(40, 3, 143); 
    color: white; 
    border-radius: 15px 15px 15px 1px;  
    padding: 10px; 
}

#user-message
{
    display: inline-block; 
    border: 2px solid rgb(40, 3, 143); 
    text-align: right; 
    color: rgb(40, 3, 143); 
    border-radius: 15px 15px 1px 15px;  
    padding: 10px; 
}

#center
{
    display: flex; 
    justify-content: center; 
}

#input
{
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    margin-top: 15px; 
}
