
    
<h1 class="greeting">Hello <span>{{parsedUserData.firstName}} {{parsedUserData.lastName}}</span></h1>

<h2 id="intro">Here is your information: </h2>

<mat-card class="row">
    
    <mat-card>
        <h2>Username: <span>{{parsedUserData.username}}</span></h2>
        <mat-card-footer>
            <mat-progress-bar mode="indeterminate"></mat-progress-bar>
        </mat-card-footer>
    </mat-card>
    <mat-card>
        <h2>Password: <span>{{parsedUserData.password}}</span></h2>
        <mat-card-footer>
            <mat-progress-bar mode="indeterminate"></mat-progress-bar>
        </mat-card-footer>
    </mat-card>
    <mat-card>
        <h2>Email: <span>{{parsedUserData.email}}</span></h2>
        <mat-card-footer>
            <mat-progress-bar mode="indeterminate"></mat-progress-bar>
        </mat-card-footer>
    </mat-card>

</mat-card>

<mat-card>
    <h2>Date Joined: <span>{{parsedUserData.dateJointed}}</span></h2>
    <mat-card-footer>
        <mat-progress-bar mode="indeterminate"></mat-progress-bar>
    </mat-card-footer>
</mat-card>

<div class="row buttons">
    <button mat-raised-button color="primary">Take Test</button>
<button mat-raised-button color="primary">View Test History</button>
</div>

