button
{
    margin-left: 37.5%; 
    width: 25%
}

mat-card  
{
    padding: 40px 70px 50px; 
    width: 600px
}

mat-form-field
{
    width: 100%
}

h3
{
    font-weight: bold; 
    color: crimson; 
}

#register-login
{
    display: flex; 
    justify-content: center; 
}

#mat-tab-group
{
    margin-top: 80px; 
    border: 2px solid rgb(40, 3, 143); 
}
