

<mat-card style="padding: 40px 70px 50px">

    <app-navbar></app-navbar>


    <div *ngIf="mode == 'quiz' && quiz">

        <div *ngFor="let question of quiz.questions">
            <mat-card>
                
                <div class="row">
                    <mat-icon>
                        <span class="material-icons-outlined">
                        quiz
                        </span>
                    </mat-icon>
                    <h2>{{question.content}}</h2>
                </div>

                <br>

                <mat-radio-group class="col">
                    <div *ngFor="let answer of question.answers">
                        <mat-radio-button value="{{++ZERO}}" [(ngModel)]="answer.selected">{{answer.content}}</mat-radio-button>
                    </div>
                </mat-radio-group>
            </mat-card>
        </div>
        <div id="submit-test-button">
            <a href="http://localhost:4200/result"><button type="submit" mat-raised-button color="primary">Sumbit Test</button></a>
        </div>
        
    </div>  

</mat-card>
