h1
{
    text-align: center; 
    font-size: 35px; 
}
table
{
    width: 80%; 
    margin-left: 10%;  
}

th
{
    font-weight: bold;
    font-size: 24px; 
}

#button-center
{
    display: flex; 
    justify-content: center; 
}
